body
  padding-top: 50px

.starter-template
  padding: 40px 15px
  text-align: center

p
  text-align: justify

img[class~=pull-right]
  margin: 10px 0px 10px 20px

img[class~=pull-left]
  margin: 10px 20px 10px 0px

.top-banner
  margin: 0px 0px 40px 0px

.front-page-news
  margin: 0px 0px 40px 0px

.front-page-news-col
  padding: 20px 40px

.big-banner
  background-repeat:no-repeat
  background-position: center

.banner1
  background-image: url("https://farm8.staticflickr.com/7633/16554322678_919f6b2962_o.jpg")
  background-repeat: no-repeat
  background-position: center

@media (max-width: 768px)
  .banner1
    background-image: url("https://farm8.staticflickr.com/7285/16555825929_319356ee57_o.jpg")
    background-repeat: no-repeat
    background-position: center


@media (max-width: 420px)
  .banner1
    background-image: url("https://farm8.staticflickr.com/7598/16534682177_764855628b_o.jpg")
    background-repeat: no-repeat
    background-position: center
