body
  padding-top: 50px

.starter-template
  padding: 40px 15px
  text-align: center

p
  text-align: justify

img[class~=pull-right]
  margin: 10px 0px 10px 20px

img[class~=pull-left]
  margin: 10px 20px 10px 0px

/* Featurettes
------------------------- */

.featurette-divider
  margin: 80px 0 /* Space out the Bootstrap <hr> more */

/* Thin out the marketing headings */
.featurette-heading
  font-weight: 300
  line-height: 1
  letter-spacing: -1px